/* 
*  CSS TABLE OF CONTENTS
*   
*  1.0 - Reset
*  2.0 - Fonts
*  3.0 - Color Palette
*  4.0 - Body
*    4.1 - Section intro
*    4.2 - Section signup-form
*  5.0 - Footer
*  6.0 - Media Queries
*/

/*** 1.0 - Reset ***/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*** 2.0 - Fonts ***/
body {
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
}

/*** 3.0 - Color Palette ***/
:root {
  --primary-red: hsl(0, 100%, 74%);
  --primary-green: hsl(154, 59%, 51%);
  --accent-blue: hsl(248, 32%, 49%);
  --neutral-dark-blue: hsl(249, 10%, 26%);
  --neutral-grayish-blue: hsl(246, 25%, 77%);
}

/*** 4.0 - Body ***/
body {
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
  grid-template-rows: 11fr 1fr;
  grid-template-areas:
    '. main .'
    '. footer .';
  align-items: center;
  justify-items: center;
  background: url(./images/bg-intro-desktop.png) no-repeat,
    var(--primary-red);
  background-size: cover;
  color: white;
  width: 100vw;
  height: 100vh;
}

main {
  grid-area: main;
  display: flex;
  max-width: 1400px;
}

/*** 4.1 - Section intro ***/
h1 {
  font-size: 2.75rem;
  line-height: 3rem;
  margin-bottom: 2rem;
}

.intro {
  flex: 1 0;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/*** 4.2 - Section signup-form ***/
.signup-form {
  flex: 1 0;
}

.signup-form > p {
  background-color: var(--accent-blue);
  text-align: center;
  font-weight: 600;
  padding: 0.75rem 0;
  border-radius: 5px;
  box-shadow: 0px 6px 0px 1px rgba(0, 0, 0, 0.15);
}

.signup-form > p > span {
  font-weight: 400;
}

.input-box {
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 6px 0px 1px rgba(0, 0, 0, 0.15);
  margin-top: 1.5rem;
  padding: 2rem;
}

.input-box > p {
  color: var(--neutral-grayish-blue);
  font-size: 0.75rem;
  font-weight: 600;
  text-align: center;
  margin-top: 1.5rem;
}

.input-box > p > span {
  color: var(--primary-red);
  font-weight: 700;
}

label {
  display: block;
  margin-bottom: 1rem;
}

input[type='text'],
input[type='password'],
input[type='email'] {
  font-family: inherit;
  font-weight: 600;
  color: var(--neutral-dark-blue);
  width: 100%;
  padding: 1rem 2rem;
  outline: none;
  border-radius: 5px;
  border: 1px solid var(--neutral-grayish-blue);
  caret-color: var(--neutral-dark-blue);
}

input[type='text']:focus,
input[type='password']:focus,
input[type='email']:focus {
  border-color: var(--accent-blue);
}

input[type='submit'] {
  font-family: inherit;
  font-weight: 600;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
  text-align: center;
  color: white;
  width: 100%;
  padding: 1rem 0;
  background-color: var(--primary-green);
  border-radius: 5px;
  border: none;
  outline: none;
  cursor: pointer;
  box-shadow: 0px 4px 0px 1px #34b87e;
}

input[type='submit']:hover {
  background-color: hsl(154, 59%, 70%);
}

input.input-error {
  color: var(--primary-red);
  border: 2px solid var(--primary-red);
  background: url(./images/icon-error.svg) no-repeat center right 24px;
}

.error {
  display: none;
  color: var(--neutral-dark-blue);
  width: 100%;
  text-align: right;
  font-size: 0.75rem;
  font-weight: 500;
  font-style: italic;
  color: var(--primary-red);
  padding-top: 0.5rem;
}

.error.active {
  display: block;
}

/*** 5.0 - Footer ***/
footer {
  grid-area: footer;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: inherit;
}

/*** 6.0 - Media Queries ***/
@media (max-width: 800px) {
  body {
    background: url(./images/bg-intro-mobile.png) no-repeat,
      var(--primary-red);
    background-size: cover;
  }

  h1 {
    font-size: 1.75rem;
    line-height: 2.25rem;
  }

  main {
    flex-direction: column;
    margin-bottom: 2rem;
  }

  .intro {
    padding: 4rem 0;
    text-align: center;
  }

  .signup-form > p {
    padding: 0.75rem 3rem;
  }

  .input-box {
    padding: 1.5rem;
  }

  .input-box > p {
    margin-top: 1rem;
    padding: 0 0.65rem;
    font-size: 0.65rem;
  }
}
